<footer class="footer">
<div class="foot-container mobile-layout">
		<div class="foot-top-row">
			<ul class="foot-top-nav foot-nav-ul">
				<li class="foot-li"><a href="/" data-track="footer-abuse">Report abuse</a></li>
				<li class="foot-li"><a href="/" data-track="footer-privacy">Privacy</a></li>
				<li class="foot-li"><a href="/" data-track="footer-terms">Terms</a></li>
				<li class="foot-li lang-switcher">
					<a href="/change_language.gne?lang=en-US&amp;csrf=" data-track="footer-language">English</a>
					<span class="arrow"></span>
				</li>
			</ul>
		</div>
		<div class="foot-bottom-row">
			<div class="foot-row-content">
				<ul class="foot-nav-ul">
					<li class="foot-li"><a href="/" data-track="footer-privacy">Privacy</a></li>
					<li class="foot-li"><a href="/" data-track="footer-terms">Terms</a></li>
				</ul>
			</div>

				<div class="foot-company">
					<span class="foot-message">
						Connecting people through photos.
					</span>
				</div>

			<div class="foot-social">
				<ul class="foot-nav-ul">
					<li><a target="_blank" href="https://www.facebook.com/" aria-label="Facebook" data-track="footer-facebook">
						<svg class="ft-icon ft-facebook"><use xlink:href="#icon-facebook"></use></svg>
					</a></li>
					<li><a target="_blank" href="https://twitter.com/" aria-label="Twitter" data-track="footer-twitter">
						<svg class="ft-icon ft-twitter"><use xlink:href="#icon-twitter"></use></svg>
					</a></li>
					<li><a target="_blank" href="https://www.instagram.com/" aria-label="Instagram" data-track="footer-instagram">
						<svg class="ft-icon ft-instagram"><use xlink:href="#icon-instagram"></use></svg>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
<footer>